<mat-card>
  <mat-card-title-group>
    <mat-card-title>
      {{pokemon.name}}
    </mat-card-title>
    <mat-card-subtitle>
      {{pokemon.id}}
    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <div>height: {{pokemon.height}}</div>
    <div>weight:{{pokemon.weight}}</div>
    <div>Base Experience: {{pokemon.base_experience}}</div>
  </mat-card-content>
  <mat-card-actions class="pokemon-card-button">
    <button mat-button>
      {{buttonString}}
    </button>
  </mat-card-actions>
</mat-card>